<fieldset>
  <%= f.error_notification %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :estate_id, value: @estate %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :color, label: "Couleur", collection: ["Blanc", "Rosé", "Rouge"] %>
  <%= f.input :alcohol, label: "Alcool" %>
  <%= f.input :agricultural_mode, label: "Méthode agricole", collection: ["Conventionnelle", "Raisonnée","HVE - Haute Valeur Environnementale", "Bio", "Biodynamique"] %>
  <%= f.input :sulfites, label: "Sulfites" %>
  <%= f.input :price_cents, label: "Prix public" %>
  <%= f.input :style, label: "Style", collection: ["Tranquille", "Effervescent", "VDN"] %>
  <%= f.input :grape_variety, label: "Cépages" %>
  <%= f.input :name, label: "Cuvée" %>
  <%= f.input :label, label: "Appellation" %>
  <%= f.input :vintage, label: "Millésime", start_year: Date.today.year - 90,
    end_year: Date.today.year, discard_day: true, discard_month: true %>
  <%= f.input :description, as: :text, label: "Description" %>
  <h1 class="text-center">La Dégustation</h1>
  <%= f.simple_fields_for :tastings do |tasting| %>
    <%= render 'shared/tasting_fields', f: tasting %>
  <% end %>
</br>
</fieldset>
