<div class="wrapper wrapper-lightyellow" id="home-acs-section">
  <div class="flexgrid-container text-center">
    <p><%= link_to 'Ajouter un domaine', new_estate_path, class: "rg-btn rg-btn-success" %></p>
    <h2 class="text-center">Les Domaines</h2>
    <div class="flexgrid-flexbox">
      <% @estates.each do |estate| %>
        <div class="flexgrid-item">
          <div class="sale-card card-shadow">
            <%= link_to estate_path(estate) do %>
              <div class="sale-link"></div>
            <% end %>
            <div class="sale-card-etiquette text-center">
              <div>
                <div class="sale-card-estate">
                  <%= estate.name %>
                </div>
                <div class="sale-card-cuvee">
                  <%= estate.description %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <h2 class="text-center">Les Vins</h2>
    <div class="flexgrid-flexbox">
      <% @wines.each do |wine| %>
        <div class="flexgrid-item">
          <div class="sale-card card-shadow">
            <%= link_to estate_wine_path(wine.estate, wine) do %>
              <div class="sale-link"></div>
            <% end %>
            <div class="sale-card-picture">
              <% if wine.photo.url != nil %>
                <%= image_tag wine.photo.url(crop: :fill) %>
              <% else %>
                <%= image_tag "wine-bottle.jpeg" %>
              <% end %>
            </div>

            <div class="sale-card-etiquette text-center">
              <div>
                <div class="sale-card-estate">
                  <%= wine.estate.name %>
                </div>
                <div class="sale-card-cuvee">
                  <%= wine.name %>
                </div>
                <div class="sale-card-vintage">
                  <%= wine.vintage.year %>
                </div>
                <div class="sale-card-label">
                  <%= wine.label %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
