<div class="wrapper wrapper-lightyellow" id="home-acs-section">
  <div class="flexgrid-container text-center">
    <div class="home-card">
      <h2 class="text-center">Liste de mes domaines</h2>
      <div class="flexgrid-flexbox">
        <div class="flexgrid-item">
          <div class="sale-card card-shadow">
            <%= link_to new_estate_path do %>
              <div class="sale-link"></div>
            <% end %>
            <div class="sale-card-etiquette text-center">
              <div>
                <div class="sale-card-estate">
                  <%= image_tag "plus_icon.png" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% @estates.each do |estate| %>
          <div class="flexgrid-item">
            <div class="sale-card card-shadow">
              <%= link_to estate_path(estate) do %>
                <div class="sale-link"></div>
              <% end %>
              <div class="sale-card-etiquette text-center">
                <div>
                  <div class="sale-card-estate">
                    <%= estate.name %>
                  </div>
                  <div class="sale-card-cuvee">
                    <%= estate.description %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
