<div class="wrapper">
  <div class="flexgrid-container text-center">
    <h2 class="text-center"><%= @estate.name %></h2>
    <p><%= link_to 'Ajouter un vin', new_estate_wine_path(@estate, Wine.new) , class: "rg-btn rg-btn-success" %></p>
    <div class="flexgrid-flexbox">
      <% @wines.each do |wine| %>
        <%= link_to estate_wine_path(wine) do %>
          <div class="flexgrid-item-xs1-xm1-sm1-md2">
            <div class="achat-card-small card-shadow">
              <div class="acs-img">
                <% if wine.photo.url != nil %>
                  <%= image_tag wine.photo.url(:standard) %>
                <% else %>
                  <%= image_tag "wine-bottle.jpeg" %>
                <% end %>
              </div>
              <div class="acs-description text-center">
                <div class="acs-wine-name"><%= wine.name %></div>
                <div class="acs-appellation"><%= wine.label %></div>
                <div class="acs-wine-name"><%= wine.vintage.year %></div>
                <div class="acs-wine-name"><%= wine.color %></div>
                <div class="acs-wine-name"><%= wine.description %></div>
                <% @tastings = wine.tastings %>
                <% @tastings.each do |tasting| %>
                  <% if tasting.nose_quality != nil %>
                    <div class="acs-appellation">nez : <%= tasting.nose_quality %></div>
                  <% end %>
                  <% if tasting.palate_finish != nil %>
                    <div class="acs-appellation">finale : <%= tasting.palate_finish %></div>
                  <% end %>
                  <% if tasting.palate_quality != nil %>
                    <div class="acs-appellation">palais : <%= tasting.palate_quality %></div>
                  <% end %>
                  <% if tasting.balance != nil %>
                    <div class="acs-appellation">équilibre : <%= tasting.balance %></div>
                  <% end %>
                  <% if tasting.description != nil %>
                    <div class="acs-appellation">note : <%= tasting.description %></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
