<div class="wrapper">
  <div class="flexgrid-container text-center">
    <h2 class="text-center"><%= @estate.name %></h2>
    <div class="flexgrid-flexbox">
      <div class="wrapper wrapper-lightyellow" id="home-acs-section">
        <div class="flexgrid-container text-center">
          <!-- <div class="home-card"> -->
          <h2 class="text-center">Liste des Vins</h2>
          <div class="flexgrid-flexbox">
            <div class="flexgrid-item">
              <div class="sale-card card-shadow">
                <!-- change method to be able to add domain or select when creating a wine-->
                <%= link_to new_wine_path(estate: @estate) do %>
                  <div class="sale-link"></div>
                <% end %>
                <div class="sale-card-etiquette text-center">
                  <div>
                    <div class="sale-card-estate">
                      <%= image_tag "plus_icon.png" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% @wines.each do |wine| %>
              <div class="flexgrid-item">
                <div class="sale-card card-shadow">
                  <%= link_to wine_path(wine) do %>
                    <div class="sale-link"></div>
                  <% end %>
                  <div class="sale-card-picture">
                    <% if wine.photo.url != nil %>
                      <%= image_tag wine.photo.url(crop: :fill) %>
                      <% unless wine.tastings == [] || wine.tastings.last.general_mark.nil? %>
                        <div class="general_mark"><%= wine.tastings.last.general_mark %></div>
                      <% end %>
                    <% else %>
                      <%= image_tag "wine-bottle.jpeg" %>
                    <% end %>
                    </div>
                    <div class="sale-card-etiquette text-center">
                      <div>
                        <div class="sale-card-estate">
                          <%= wine.estate.name %>
                        </div>
                        <div class="sale-card-cuvee">
                          <%= wine.name %>
                        </div>
                        <div class="sale-card-vintage">
                          <%= wine.vintage.year %>
                        </div>
                        <div class="sale-card-label">
                          <%= wine.label %>
                        </div>
                      </div>
                    </div>
                  <div class="sale-card-price-cart">
                    <div class="sale-card-price text-center">
                      <div><%= wine.competitions.count %></div>
                      <div>Compétiteurs</div>
                    </div>
                    <%= link_to 'Ajouter compétition', new_competition_path(wine: wine), class: "rg-btn rg-btn-success" %>
                  </div>
                  <div class="sale-card-price-cart">
                    <div class="sale-card-price text-center">
                      <div><%= wine.tastings.count %></div>
                      <div>Dégustations</div>
                    </div>
                    <%= link_to 'Ajouter dégustation', new_wine_tasting_path(wine_id: wine.id), class: "rg-btn rg-btn-success" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
